@charset "utf-8"
/* 通用颜色 */
$F: rgb( 255, 255, 255 )
$B: rgb( 0, 0, 0 )
/* 项目颜色 */
$C-base         : #F5F5F5               // 灰色
$C-theme        : #D83B10               // 主题色
$C-L-theme      : rabg( $C-theme, .7 )  // 浅主题色
$C-title        : #333                  // 标题色
$C-sub-title    : #555                  // 子标题色
$C-text         : #6E6E6E               // 文字颜色
